<form class="form" (ngSubmit)="send(f)" #f="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Curso</label>
      <input type="text" 
      class="form-control"
      name="curso"
      [(ngModel)]="registre.course"
      required
      minlength="5"
      [class.is-invalid]="curso.invalid && curso.touched"
      #curso= "ngModel"
      placeholder="ingresa curso"
      >
    </div>
    <span class="text-danger"
     *ngIf="curso.invalid && curso.touched">
     ingrese mas datos
    </span>
   
    <div class="form-group">
      <label for="exampleInputPassword1">Nota</label>
      <input type="text" class="form-control"
      name="nota"
      [(ngModel)]="registre.note"
      required
      maxlength="2"
      #nota= "ngModel"
      placeholder="Ingresa nota"
      (keyup.enter)="update(f)" f="ngForm"
      >
    </div>
   
 
    <button *ngIf="!activeButtonEdit" type="submit"  class="btn btn-primary">registrar</button>
    <button *ngIf="activeButtonEdit" type="button"  class="btn btn-primary" (click)="update(f)" f="ngForm" >Actualizar</button>
  </form>

  <table class="table table-dark">
    <thead>
      <td class="scope">Curso</td>
      <td class="scope">Nota</td>
      <td class="scope">Calificacion</td>
      
    </thead>

    <thead *ngFor = "let elementos of saveRegistre , let i = index">
      
        <td class="scope">{{elementos.courses}}</td>
        <td class="scope">{{elementos.notes}}</td>
        <td class="text-center">
          <span class="badge badge-pill"
                [ngClass]="{'badge-success': isAprove(elementos.notes),
                            'badge-danger' : !isAprove(elementos.notes)}">
              {{elementos.califications}}
          </span>
        </td>
        <button type="button" class="btn btn-primary mr-5" (click)="edit(i)" >Editar</button>
        <button type="button" class="btn btn-secondary"(click)="deleteRow(i)" >Eliminar</button>
       
      </thead>
     
</table>