<form class="form" (ngSubmit)="enviar(f)" #f="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Curso</label>
      <input type="text" 
      class="form-control"
      name="curso"
      [(ngModel)]="registro.curso"
      required
      minlength="5"
      [class.is-invalid]="curso.invalid && curso.touched"
      #curso= "ngModel"
      placeholder="ingresa curso"
      >
    </div>
    <span class="text-danger"
     *ngIf="curso.invalid && curso.touched">
     ingrese mas datos
    </span>
   
    <div class="form-group">
      <label for="exampleInputPassword1">Nota</label>
      <input type="text" class="form-control"
      name="nota"
      [(ngModel)]="registro.nota"
      required
      maxlength="2"
      [class.is-invalid]="nota.invalid && nota.touched"
      #nota= "ngModel"
      placeholder="Ingresa nota"
      >
    </div>
    <span class="text-danger"
    *ngIf="nota.invalid && nota.touched">
    ingrese mas digitos
   </span>
 
    <button *ngIf="!activarBotonEditar" type="submit"  class="btn btn-primary">registrar</button>
    <button *ngIf="activarBotonEditar" type="button"  class="btn btn-primary" (click)="actualizar(f)" f="ngFor" >Actualizar</button>
  </form>

  <table class="table table-dark">
    <thead>
      <td class="scope">Curso</td>
      <td class="scope">Nota</td>
      <td class="scope">Calificacion</td>
      
    </thead>

    <thead *ngFor = "let elementos of guardarRegistro , let i = index">
      
        <td class="scope">{{elementos.cursos}}</td>
        <td class="scope">{{elementos.notas}}</td>
        <td class="text-center">
          <span class="badge badge-pill"
                [ngClass]="{'badge-success': estaAprobado(elementos.notas),
                            'badge-danger' : !estaAprobado(elementos.notas)}">
              {{elementos.calificaciones}}
          </span>
        </td>
        <button type="button" class="btn btn-primary mr-5" (click)="editar(i)" >Editar</button>
        <button type="button" class="btn btn-secondary"(click)="eliminarFila(i)" >Eliminar</button>
       
      </thead>
     
</table>